@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
}

#counter {
    color: white;
    font-size: 10rem;
}

.counter_buttons button {
    color: white;
    background: red;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 3rem;
    margin: 0 5px;
    border-radius: 10px;
    transition: 0.2s;
}

.counter_buttons button:hover {
    background: rgba(255, 0, 0, 0.4);
}